
extends ../layout/main
block variable
  -
    var title_page = 'academy'
    var id_page = 'id-page-academy'
    var class_page = 'class-page-academy'
    var headerCustomClass = 'type1' 
    var breadcrumbsSubitem = [
      {
        label: 'About',
        link: pagesLink[0].about
      }
    ]
  
block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/header.bundle.js')
  script(defer src='./assets/scripts/footer.bundle.js')
  script(defer src='./assets/scripts/academy.bundle.js')
block content
  section.vacancies
    .svg-layer 
      <svg  viewBox="0 0 1920 1204" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
        <path d="M0 161.5V21V0H70H727H1192H1850H1920V21V161.5L1725 356.5V1179H1425L1125 886H795L495 1179H195V356.5L0 161.5Z" fill="url(#paint0_linear_1642_13896)"/>
        <path d="M1125 589L1260 454V403L1355 337V0H1260H1192H727H660H565V337L660 403V454L795 589V1204H1125V589Z" fill="black" fill-opacity="0.2"/>
        <path d="M660.5 402.738L660.285 402.59L565.5 336.738V0.5H1354.5V336.738L1259.71 402.59L1259.5 402.738V453.793L1124.5 588.793V1203.5H795.5V588.793L660.5 453.793V402.738Z" stroke="url(#paint1_linear_1642_13896)" stroke-opacity="0.4"/>
        <defs>
          <linearGradient id="paint0_linear_1642_13896" x1="960" y1="-64.0354" x2="960" y2="937.501" gradientUnits="userSpaceOnUse">
            <stop stop-color="#1A1818"/>
            <stop offset="1" stop-color="#111111"/>
          </linearGradient>
          <linearGradient id="paint1_linear_1642_13896" x1="960" y1="-863.479" x2="960" y2="835.459" gradientUnits="userSpaceOnUse">
            <stop offset="0.442308" stop-opacity="0"/>
            <stop offset="0.528846" stop-color="#BE9A68" stop-opacity="0.4"/>
            <stop offset="1" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>
    .vacancies-img 
      img(src="./assets/images/vacancies.png", alt="fog").soldiers
      
    .vacancies-content.container
      h1.section-title.vacancies-title Академія
      p.vacancies-descr Тут гартуються розум і тіло, 
        span приєднуйся до навчання 
        | та зростай як воїн.
  section.vacancies-cards.academy
    .section-top-decor
    .layout-absolute.container
      .nav-bar 
        a(href="#contract") 
          span Контракт чи мобілізація
        a(href="#documents") 
          span Перелік документів
        a(href="#how") 
          span Як потрапити до 1 ОШП
        a(href="#vlk") 
          span ВЛК
        a(href="#bzvp") 
          span Що таке БЗВП
        a(href="#szch") 
          span СЗЧ
        a(href="#transfer") 
          span Переведення до 1 ОШП
        a(href="#development") 
          span Розвиток у 1 ОШП
    .academy-container 
      .academy-block(id="contract")
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Що обрати – контракт чи мобілізація?
            p.academy-block__number #1
          .academy-block__content 
            p.accent-text Якщо ви досягли мобілізаційного віку (25-60 років), тоді можна самостійно обирати як приєднатися до підрозділу. Мобілізації не підлягають особи, яким ще не виповнилося 25 років*, а також іноземці та жінки, що не перебувають на військовому обліку.
            p.light-text *  Якщо вам менше 25 років, долучитись до підрозділу по мобілізації можна лише тим, хто пройшов строкову службу (до 24 лютого 2022 року) або отримав певну військово-облікову спеціальність.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Контракт
            
          .academy-block__content 
            p.accent-text Обрати службу за контрактом може кожен, віком від 
              span.light-text 18 до 60 років, хто перебуває на військовому обліку та придатний до служби за станом здоров’я.
              | Також долучитись можуть жінки й іноземці.
            p Термін служби за контрактом для рядового складу (солдат) складає 3 роки. Цей термін може бути довший, відповідно до звання – 5 - 10 років.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock.slider-mode
          .academy-block__title-wrap 
            h3.academy-block__subtitle ПРОЦЕДУРА
            
           
          .swiper-process 
            .swiper-wrapper 
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 01
                    p Після того, як територіальний центр укомплектування розгляне вашу заяву, подані документи та проведе перевірку відсутності судимості, сформують вашу особову справу.
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 02
                    p Співбесіда з командиром. Після неї вам буде виданий рекомендаційний лист від частини (Відношення).
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 03
                    p Збір потрібних документів, про які буде сказано далі.
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 04
                    p Після того, як територіальний центр укомплектування розгляне вашу заяву, подані документи та проведе перевірку відсутності судимості, сформують вашу особову справу.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle ПЕРЕВАГИ  Контракту
            
          .academy-block__content 
            p.text--subtitle Якщо вам більше 24 років.
            p Між контрактом та мобілізацією є декілька відмінностей - і це соціальні гарантії*, виплати та право вибору підрозділу та посади.
            p Громадянин, який укладає контракт, має право самостійно обирати військовий підрозділ та посаду за військово-обліковою спеціальністю. Це дає можливість проходити службу там, де зручніше або цікавіше, на відміну від мобілізованих, яких направляють туди, де є нестача особового складу.
            p 1 ОШП HUB розташований за адресою: м. Київ, вул. Генерала Шаповала, 2. Для відвідування необхідна попередня домовленість з адміністрацією Хабу. Більше інформації - тут 
              a.light-text(target="_blank" href="https://armyinform.com.ua/2025/01/06/umovy-ta-perevagy-vijskovoyi-sluzhby-za-kontraktom-u-zsu-rozyasnennya-vid-minoborony/" style="text-decoration: underline") https://armyinform.com.ua/2025/01/06/umovy-ta-perevagy-vijskovoyi-sluzhby-za-kontraktom-u-zsu-rozyasnennya-vid-minoborony/
              | )
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        //- .academy-subblock
        //-   .academy-block__title-wrap 
        //-     h3.academy-block__subtitle КОНТРАКТ 18-24 РОКИ
            
        //-   .academy-block__content 
        //-     p.accent-text Фінансова винагорода – 
        //-       span.light-text 1 мільйон гривень, чіткий термін служби – 12 місяців та соціальні гарантії, яких не дає жодна цивільна професія.
        //-       | І це лише незначна частина переваг нового контракту для добровольців віком від 18 до 24 років.
        //-     p Найголовніше: лише за один рік ви зможете отримати справжній бойовий досвід та водночас здобути фінансову стабільність. Далі – самостійно вирішувати чи готові продовжувати службу, чи бажаєте повернутися до цивільного життя.
        //-     p Починаючи з 11 квітня 2025, якщо тобі 18-24 роки, ти можеш стати частиною нашого пірозділу! А наразі ми допоможемо обрати майбутню посаду та відповімо на усі питання, що вас цікавлять за телефоном 
        //-       a.light-text(href="tel:+380675497349" style="white-space: nowrap; text-decoration: underline") (067)549 73 49
        //-       | .
        //-     p.light-text * Більше інформації про “Контракт 18-24” тут - 
        //-       a(href="https://18-24.army.gov.ua" style="text-decoration: underline" target="_blank") https://18-24.army.gov.ua
        //- <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
        //-   <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        //- </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Мобілізація
            
          .academy-block__content 
            p Якщо ви не розглядаєте для себе контракт, а винятково мобілізацію, потрібно відповідати лише кільком критеріям: бути військовозобов'язаним, віком від 25 до 60 років, і придатним до служби за станом здоров'я. Для жінок — ті ж вимоги, проте також необхідно перебувати на військовому обліку відповідно до своєї спеціальності чи професії.
            p.light-text *  Термін служби – до кінця воєнного стану у країні.
            p Відтак найкращий спосіб приєднатись по мобілізації – це прямий призов. Що це таке?

            p Найголовніше — звертатися до ТЦК більше не потрібно. Достатньо напряму зателефонувати представнику полку за номером
              a.light-text(href="tel:+380675497349" style="white-space: nowrap ;text-decoration: underline") (067)549 73 49
              | . Він допоможе обрати актуальну вакансію саме для вас, а також проконсультує щодо приєднання по мобілізації та оформлення документів.
            p 
              span.light-text Що далі? 
              | Ви скеровуєте заяву про призов на командира військової частини та подаєте свої паспортні дані, ідентифікаційний код і вказуєте, при якому територіальному центрі комплектування проходитимете військово-лікарську комісію. Зі свого боку полк сформує направлення на проходження ВЛК. Відтак, коли отримаєте рішення про придатність до служби (у тому числі на обраній посаді), вас уже очікуватимуть у нашому пункті постійної дислокації.
            p Завершальний етап – 
              span.light-text БЗВП
              | , після якого наш представник забере вас до місця перебування підрозділу для подальшої військової служби.
      .academy-block(id="documents")
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Перелік необхідних документів
            p.academy-block__number #2
          .academy-block__content 
            p Для контрактної форми служби необхідно трохи більше офіційних документів, ніж для мобілізації. Тож, якщо ви обрали контракт, слід ознайомитися з переліком документів, необхідних для формування особової справи. Радимо не зволікати й оформити все заздалегідь.
            p Перш за все — це рекомендаційний лист (Відношення)*, який ви отримаєте безпосередньо від полку. Адже саме він гарантує, що ви потрапите до лав нашого полку на обрану посаду.
            p.light-text *  Про форму укладання рекомендаційного листа ми подбаємо самостійно.
            p Далі — ваша заява кандидата на контракт (зразок ми надамо), а також копії необхідних документів.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Список документів
            
          .academy-block__content 
            p.list-item паспорт (1, 3 та 11 сторінки) / ID-картка (обидві сторони) – 2 шт;
            p.list-item витяг про місце проживання (за наявності ID-картки. Можна зробити в Дії) – 2 шт;
            p.list-item ІПН (ідентифікаційний номер) – 2 шт;
            p.list-item свідоцтво про народження;
            p.list-item документи про освіту;
            p.list-item військовий квиток або приписне свідоцтво;
            p.list-item трудова книжка (форма ОК-5);
            p.list-item копії документів про шлюб/розірвання шлюбу (за наявності);
            p.list-item свідоцтва про народження дитини/дітей (за наявності);
            p.list-item посвідчення водія (за наявності);
            p.list-item автобіографія у двох екземплярах – рукописна та друкована (вона має мати певну структуру, приклад вам нададуть);
            p.list-item характеристика з останнього місця роботи/навчання;
            p.list-item довідку про несудимість (Можна зробити в Дії);
            p.list-item фотокартка у форматі 9х12 - 1 шт;
            p.list-item фото 3х4 - 6 шт.
      .academy-block(id="how")
        .section-top-decor
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Як потрапити до 1 ОШп “Да Вінчі”
            p.academy-block__number #3
          .academy-block__content 
            p Для того, щоб потрапити саме до 1 ОШП, необхідно перш за все зв’язатися з нами напряму за телефоном
              a.light-text(href="tel:0675497349" style="text-decoration: underline") (067)549 73 49
            p.text--subtitle Також можна зв’язатися через месенджери
            .social-list(style="margin-bottom: 20px")
              a(href="https://t.me/dvunit" target="_blank").social-list__item
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path d="M7.06305 11.1474L6.7653 14.9166C7.19131 14.9166 7.37581 14.7519 7.59707 14.5541L9.59436 12.8362L13.733 15.5639C14.492 15.9446 15.0267 15.7441 15.2315 14.9355L17.9481 3.47944L17.9488 3.47877C18.1896 2.46897 17.5431 2.0741 16.8035 2.32182L0.835653 7.82372C-0.254123 8.20442 -0.237622 8.75116 0.650399 8.99889L4.73275 10.1417L14.2152 4.80176C14.6615 4.53581 15.0672 4.68296 14.7335 4.94891L7.06305 11.1474Z" fill="#FFEED7"/>
                </svg>
              a(href="/" target="_blank").social-list__item
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path d="M4.97118 15.145L5.24331 15.3056C6.38679 15.9811 7.69777 16.3384 9.03467 16.3391H9.03759C13.1433 16.3391 16.4849 13.0132 16.4865 8.92547C16.4871 6.94439 15.7131 5.08181 14.3067 3.6804C12.9002 2.27925 11.0302 1.50707 9.04025 1.50625C4.93139 1.50625 1.5898 4.83167 1.58825 8.9194C1.58771 10.3202 1.98131 11.6844 2.72708 12.8646L2.90434 13.1452L2.15165 15.8809L4.97118 15.145ZM0 18L1.27143 13.3781C0.487198 12.0254 0.0746338 10.4909 0.0752797 8.91899C0.0771914 4.00106 4.09733 0 9.03777 0C11.4351 0.00102875 13.6853 0.929884 15.3774 2.61585C17.0693 4.30178 18.0008 6.54284 18 8.92619C17.9979 13.8439 13.9769 17.8457 9.03777 17.8457C9.03741 17.8457 9.03795 17.8457 9.03777 17.8457H9.03394C7.53404 17.8452 6.06022 17.4706 4.75123 16.7598L0 18Z" fill="#FFEED7"/>
                  <path d="M0.0752803 8.91926C0.0747378 10.4912 0.487306 12.0258 1.27155 13.3784L0 18L4.75112 16.7598C6.0602 17.4705 7.53395 17.845 9.03387 17.8457H9.03769C13.9769 17.8457 17.9979 13.8438 18 8.92618C18.0008 6.5427 17.0693 4.3017 15.3773 2.61585C13.6851 0.929988 11.4351 0.00102875 9.03769 0C4.09747 0 0.0771962 4.00105 0.0751295 8.91897M2.90446 13.1453L2.72711 12.8649C1.98134 11.6845 1.58773 10.3203 1.58827 8.91965C1.5899 4.83218 4.93144 1.5065 9.04033 1.5065C11.0301 1.50727 12.9002 2.27952 14.3068 3.68065C15.7133 5.08188 16.4873 6.94461 16.4867 8.92546C16.4849 13.0132 13.1433 16.3391 9.03751 16.3391H9.03459C7.69771 16.3383 6.38662 15.9811 5.24321 15.3056L4.97107 15.145L2.15156 15.8809L2.90446 13.1453ZM9.03769 17.8457H9.03778H9.03769C9.0376 17.8457 9.03751 17.8457 9.03769 17.8457Z" fill="#FFEED7"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.78819 4.91812C6.62228 4.5205 6.44772 4.51254 6.28992 4.50554C6.16078 4.49962 6.01309 4.50001 5.86556 4.50001C5.71786 4.50001 5.47796 4.55976 5.2751 4.79869C5.07206 5.03763 4.5 5.61521 4.5 6.78988C4.5 7.96466 5.2936 9.09978 5.40416 9.25924C5.51491 9.4184 6.9361 11.9061 9.18668 12.8631C11.0573 13.6584 11.4379 13.5003 11.8439 13.4604C12.2499 13.4207 13.1541 12.883 13.3385 12.3255C13.5231 11.768 13.5231 11.2901 13.4678 11.1904C13.4124 11.0908 13.2647 11.0311 13.0433 10.9118C12.8218 10.7924 11.7332 10.2147 11.5302 10.135C11.3272 10.0554 11.1796 10.0157 11.0319 10.2547C10.8842 10.4935 10.4601 11.0311 10.3309 11.1904C10.2018 11.3499 10.0725 11.3698 9.85111 11.2504C9.6296 11.1306 8.9164 10.8787 8.07036 10.0654C7.41206 9.43258 6.96767 8.65104 6.83843 8.41199C6.70929 8.17324 6.82464 8.04392 6.93567 7.92487C7.03516 7.81789 7.15718 7.6461 7.26794 7.50675C7.37842 7.36731 7.41528 7.26781 7.48909 7.10855C7.56299 6.94919 7.52604 6.80975 7.47071 6.69032C7.41528 6.5709 6.98496 5.39018 6.78806 4.91805" fill="#FFEED7"/>
                </svg>
              a(href="/" target="_blank").social-list__item
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                  <path d="M6.84075 0.26236L7.04212 1.08024C6.24585 1.27755 5.48364 1.59305 4.78087 2.01623L4.35 1.29286C5.12267 0.824826 5.96332 0.477334 6.84075 0.26236ZM11.1607 0.26236L10.9605 1.07911C11.7568 1.27642 12.519 1.59192 13.2217 2.01511L13.6582 1.29173C12.8823 0.824917 12.0403 0.477883 11.1607 0.26236ZM1.2945 4.34611C0.827804 5.12027 0.480406 5.96032 0.263995 6.83799L1.08187 7.04048C1.27918 6.24422 1.59468 5.48201 2.01787 4.77923L1.2945 4.34499V4.34611ZM0.844495 8.99911C0.843097 8.59011 0.873565 8.18163 0.93562 7.77736L0.10312 7.64911C-0.0324203 8.54325 -0.0324203 9.45272 0.10312 10.3469L0.93562 10.2209C0.873565 9.81659 0.843097 9.40811 0.844495 8.99911ZM13.6515 16.7031L13.2195 15.9831C12.5185 16.4071 11.7572 16.7223 10.9616 16.918L11.1641 17.737C12.0404 17.5191 12.8789 17.1706 13.6515 16.7031ZM17.1581 8.99911C17.1581 9.40936 17.1274 9.81661 17.0659 10.2209L17.8984 10.3469C18.0339 9.45272 18.0339 8.54325 17.8984 7.64911L17.0659 7.77736C17.1274 8.18236 17.1581 8.58961 17.1581 8.99911ZM17.7386 11.1569L16.9196 10.9544C16.7225 11.7514 16.407 12.5144 15.9836 13.2179L16.707 13.6532C17.1745 12.8777 17.5223 12.0361 17.7386 11.1569ZM10.2236 17.0631C9.41362 17.1869 8.589 17.1869 7.779 17.0631L7.653 17.8979C8.5464 18.0332 9.45509 18.0332 10.3485 17.8979L10.2225 17.0642L10.2236 17.0631ZM15.5674 13.8366C15.0816 14.496 14.4986 15.0778 13.8382 15.5624L14.34 16.243C15.0673 15.7088 15.7101 15.0683 16.2469 14.3429L15.5674 13.8366ZM13.8382 2.43249C14.4986 2.91849 15.0814 3.50124 15.5674 4.16161L16.2469 3.65536C15.712 2.92958 15.0711 2.2883 14.3456 1.75298L13.8382 2.43249ZM2.43412 4.16161C2.91967 3.50105 3.50269 2.91804 4.16325 2.43249L3.657 1.75298C2.93122 2.28787 2.28994 2.92878 1.75462 3.65424L2.43412 4.16048V4.16161ZM16.7081 4.34499L15.9836 4.78036C16.4077 5.48124 16.7239 6.24286 16.9196 7.03824L17.7386 6.83574C17.5221 5.95846 17.1747 5.1188 16.7081 4.34499ZM7.77787 0.933985C8.58781 0.812136 9.41143 0.812136 10.2214 0.933985L10.3474 0.101485C9.45396 -0.0338283 8.54528 -0.0338283 7.65187 0.101485L7.77787 0.933985ZM2.86612 16.4691L1.12575 16.8741L1.53075 15.1315L0.71062 14.9402L0.304495 16.6817C0.271683 16.8214 0.275043 16.9672 0.314259 17.1052C0.353475 17.2433 0.42725 17.369 0.528609 17.4706C0.629968 17.5722 0.755562 17.6463 0.893515 17.6858C1.03147 17.7253 1.17722 17.729 1.317 17.6965L3.0585 17.2949L2.86612 16.4691ZM0.884995 14.1876L1.7085 14.3766L1.98975 13.1695C1.57889 12.4809 1.27255 11.7352 1.08075 10.9566L0.26287 11.1591C0.446453 11.9048 0.724714 12.6239 1.09087 13.2989L0.884995 14.1876ZM4.8225 16.0135L3.61537 16.2947L3.80662 17.1171L4.69537 16.9101C5.37037 17.278 6.08925 17.5559 6.83512 17.7392L7.03762 16.9202C6.26083 16.7268 5.51699 16.4194 4.83037 16.0079L4.8225 16.0135ZM9.00075 1.68661C8.04045 1.68691 7.08962 1.87634 6.20254 2.2441C5.31546 2.61186 4.50951 3.15075 3.83069 3.82998C3.15187 4.50922 2.61348 5.31551 2.24626 6.20282C1.87905 7.09012 1.6902 8.04107 1.6905 9.00136C1.69175 10.3768 2.0809 11.724 2.81325 12.8882L2.11012 15.8897L5.10825 15.1866C6.74815 16.1709 8.70831 16.4736 10.5688 16.0301C12.4292 15.5866 14.042 14.432 15.0615 12.8138C16.0809 11.1956 16.4261 9.24242 16.0229 7.37281C15.6197 5.50319 14.5003 3.86586 12.9045 2.81161C11.7356 2.07541 10.3821 1.68536 9.00075 1.68661Z" fill="#FFEED7"/>
                </svg>
            p Наші спеціалісти нададуть вам усю необхідну інформацію та проконсультують щодо подальших дій, щоб ви могли долучитися саме до нас.
            p Також зв’язатися з нами можна після отримання повістки, але лише у випадку, якщо ви ще не пройшли ВЛК та не перебуваєте у ТЦК.

        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title 
            
          .academy-block__content 
            p Фізичною точкою, куди ви можете прийти та дізнатися більше про підрозділ, є 1 ОШП HUB — 
              a(href="https://www.instagram.com/hub.davinci.bat" target="_blank" style="text-decoration: underline").light-text https://www.instagram.com/hub.davinci.bat
              | . Тут вам нададуть усю необхідну інформацію.
            p.light-text *  1 ОШП HUB розташований за адресою: м. Київ, вул. Генерала Шаповала, 2. Для відвідування необхідна попередня домовленість з адміністрацією Хабу.
      .academy-block(id="vlk")
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Військово-лікарська комісія
            p.academy-block__number #4
          .academy-block__content         
            p Військово-лікарська комісія (ВЛК) - це огран, яка визначає придатність до військової служби. На основі її заключення, громадянам надається статус 
              span.light-text “Придатний”, “Обмежено придатний” або “Непридатний”.
            p Для проходження ВЛК існує електронна черга, але вона не обов’язкова.
            p.light-text *  Більше деталей про ВЛК можна дізнатися за посиланням 
              a(href="https://moz.gov.ua/uk/vlk" target="_blank" style="text-decoration: underline") https://moz.gov.ua/uk/vlk
      .academy-block(id="bzvp")
        .section-top-decor
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Що таке БЗВП та як готують бійців у 1 ОШП
            p.academy-block__number #5
          .academy-block__content
            p Базова загальновійськова підготовка (БЗВП) у ЗСУ триває від 5 тижнів і проходить у навчальному центрі. 
              span.light-text  Її мають пройти всі мобілізовані. 
              | Після завершення курсанти отримують сертифікат про ВОС 100 (стрілець) — мінімум, необхідний для подальшої служби. Вибір частини не впливає на навчальний центр, де проходить підготовка. Там ви отримаєте базові знання зі стрільби, медичної допомоги, орієнтування та інших навичок.
            p Потрапивши до нашого підрозділу, ви пройдете спеціалізовану підготовку, тривалість якої залежить від вашої спеціальності — 
              span.light-text від кількох тижнів до кількох місяців.
              | Під час навчання ви отримаєте поглиблені знання та практичні навички, необхідні для виконання завдань у складі підрозділу.
            p Рішення запровадити власний курс підготовки прийняли, керуючись пріоритетом збереження особового складу. Адже добре підготовлені бійці виконують завдання успішніше та ефективніше.
            p «Краще один раз якісно навчити бійців, щоб знати їхні можливості і забезпечити успішне виконання завдань. Кожен потребує індивідуального підходу — ми його шукаємо і впроваджуємо. Тому додаткові два тижні підготовки — це інвестиція у збереження особового складу та результативність підрозділу»,
              span.light-text(style="font-style: italic") – командир штурмової роти Каспер.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Що потрібно взяти із собою 
              br
              | на службу         
          .academy-block__content
            p БЗВП військовослужбовцям видають базовий набір речей. У ньому 46 позицій. З повним переліком того, що мають видати, можна ознайомитися в 
              a(href="https://zakononline.com.ua/documents/show/362182___777101" style="text-decoration: underline" target="_blank").light-text Наказі Міністра оборони № 232
              | . Проте на практиці в навчальному центрі вам, ймовірно, видадуть не весь цей комплект.
            .academy-block__list-wrapper
              .academy-block__list(data-toggle="dropdown")
                span.light-text В навчальному центрі ви отримаєте
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              
              ol.academy-block__dropdown
                each item, index in ["Шолом", "Бронежилет", "Балістичні окуляри", "Берці", "Костюм піксель (кітель та штани) 2 комплекти на 2 роки. Також раз на рік видають додаткові штани","Зимові куртка та штани. По одному виду на 2 роки", "Бафи", "Кашкет", "Каремат","Спальний мішок", "Орієнтування", "Тактичні рукавиці", "Ремінь", "Транспортна сумка", "Футболки", "Шкарпетки", "Труси", "Рушник", "Баул", "Рюкзак"]
                  li(data-index=index+1)= item
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Що потрібно взяти із собою?                    
          .academy-block__content
            p Усе нижче — радше наша рекомендація, адже у кожного набір речей може відрізнятися. Втім, базово ми радимо взяти з собою такі позиції:
            .academy-block__list-wrapper(style="margin-top: 40px")
              .academy-block__list(data-toggle="dropdown")
                span.light-text Особиста гігієна:
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              ol.academy-block__dropdown
                each item, index in ["Зубна паста", "Зубна щітка", "Шампунь", "Туалетний папір", "Серветки (вологі та сухі) - по кілька уп.","Станок для гоління або електробритва", "Манікюрні ножиці", "Сонцезахисний крем", "Пральний порошок або капсули для прання", "Скотч"]
                  li(data-index=index+1)= item
          
            .academy-block__list-wrapper
              .academy-block__list(data-toggle="dropdown")
                span.light-text Електроприлади:
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              ol.academy-block__dropdown
                each item, index in ["Павербанк", "Подовжувач/трійник", "Ліхтарик (з білим світлом та червоним світлом)"]
                  li(data-index=index+1)= item
          
            .academy-block__list-wrapper
              .academy-block__list(data-toggle="dropdown")
                span.light-text Взуття та одяг:
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              ol.academy-block__dropdown
                each item, index in ["Кросівки/трекінгові черевики (мають бути зручні)", "Гумові капці", "Футболки", "Білизна", "Шкарпетки", "Фліска/тепла кофта (бажано з капюшоном)", "Робочі рукавиці", "Комплект цивільного одягу"]
                  li(data-index=index+1)= item
          
            .academy-block__list-wrapper
              .academy-block__list(data-toggle="dropdown")
                span.light-text Різне:
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              ol.academy-block__dropdown
                each item, index in ["Пакети звичайні", "Зіп-пакети", "Посуд, що не б’ється (чашка/тарілка)", "Вилка, ложка (ніж опційно)", "Голки, нитки", "Мотузка та прищепки, аби сушити одяг після прання", "Мультитул", "Сірники/запальнички", "Суперклей", "Засоби від комарів, кліщів та інших комах", "Водонепроникний пакет для документів", "Компактний газовий пальник і кілька балонів до нього", "Сміттєві пакети різних розмірів"]
                  li(data-index=index+1)= item
          
            .academy-block__list-wrapper
              .academy-block__list(data-toggle="dropdown")
                span.light-text Аптечка:
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              ol.academy-block__dropdown
                each item, index in ["Термометр", "Знеболювальні", "Жарознижувальні засоби", "Активоване вугілля", "Протидіарейні таблетки", "Антибактеріальні препарати", "Бинт", "Вата", "Суперклей", "Антисептичні препарати", "Лейкопластирі", "Еластичний бинт", "Індивідуальні лікарські препарати при наявності хронічних захворювань"]
                  li(data-index=index+1)= item
          
            .academy-block__list-wrapper(style="margin-bottom: 40px")
              .academy-block__list(data-toggle="dropdown")
                span.light-text Їжа:
                svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none")
                  path(d="M11.293 14.707C11.4805 14.8946 11.7348 15 12 15C12.2652 15 12.5195 14.8946 12.707 14.707L17.4141 10L16 8.58594L12 12.5859L8 8.58594L6.58594 10L11.293 14.707Z" fill="#FFEED7")
              ol.academy-block__dropdown
                each item, index in ["Висококалорійна їжа: згущене молоко, шоколад, горіхи, батончики, мюслі", "Сухофрукти тривалого зберігання", "Чай, кава, сіль, цукор", "Консерви: рибні / м’ясні", "Сублімовані продукти", "Хлібці, галети, печиво", "Каші і перші страви швидкого приготування", "Вітамінні комплекси для імунітету / підвищення витривалості", "Енергетичні напої, комплекси, бади та ін.", "Мед, джеми, варення", "Вода"]
                  li(data-index=index+1)= item
            p.light-text * Після проходження БЗВП ви прибудете до місця дислокації підрозділу, де перевірять видане спорядження та нададуть усе необхідне для подальшої служби. У разі потреби вас також забезпечать тим, чого немає в стандартному списку, але що необхідне для виконання завдань.
      .academy-block(id="szch")
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Військово-лікарська комісія
            p.academy-block__number #6
          .academy-block__content
            p Якщо ви бажаєте добровільно повернутися із СЗЧ, 1 ОШП активно приймає на службу всіх військовослужбовців, які самовільно залишили військову частину. Ми чекаємо на кожного, хто:
            p.list-item Ініціативний;
            p.list-item Бажає проявити себе;
            p.list-item Шукає підрозділ із гідним ставленням та справжніми лідерами;
            p.list-item Хоче служити в підрозділі, що демонструє справжні результати;
            p.list-item Прагне працювати із новітніми технологіями і засобами;
            p.list-item Має прагнення професійно розвиватися;
            p Повернення на службу із СЗЧ можливе до військової частини за власним вибором. Щоб продовжити службу в нашому підрозділі, насамперед потрібно отримати письмову згоду командира полку. Для цього звертайтеся за номером: 
              a(href="tel:0675497349" target="_blank" style="text-decoration: underline").light-text (067) 549 73 49.
            p.light-text * Зауважимо: якщо самовільне залишення частини відбулося вперше, вас можуть звільнити від відповідальності. Необхідно лише самостійно звернутися із відповідним клопотанням до слідчого, прокурора або суду про намір повернутись.
            p Після рішення суду вас поновлять на військовій службі із зарахуванням на всі види забезпечення.
            p Також щодо повернення із СЗЧ військовослужбовці можуть отримати консультацію в 1 ОШП HUB. Ви можете звернутися туди особисто за адресою: м. Київ, вул. Генерала Шаповала, 2.
      .academy-block(id="transfer")
        .section-top-decor
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Переведення до 1 ОШП
            p.academy-block__number #7
          .academy-block__content
            p Якщо ви бажаєте долучитися до нашого полку з іншого підрозділу, насамперед потрібно звернутися до нас для отримання рекомендаційного листа. Далі — з відношенням ви можете подавати рапорт на переведення через «Армія+». Для цього необхідно надати:
            p.list-item Копію військового квитка, посвідчення офіцера або іншого документа, що підтверджує проходження військової служби;
            p.list-item Погодження від вашого безпосереднього командира — у формі окремого документа або у вигляді схвалення рапорту в «Армія+».
            p.light-text *За відсутності підстав для відмови у переведенні Кадровий центр ЗСУ готує наказ (для офіцерського складу) або розпорядження (для рядового, сержантського та старшинського складу).
            p У подальшому інформацію про підписання ви отримаєте в «Армія+». Після цього переведення військовослужбовця здійснюється в установленому порядку.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Твій перший день — місяць — рік у 1 ОШП              
          .academy-block__content
            p.text--subtitle Перший день  
            p Після прибуття до полку проходиш реєстрацію, заповнюєш анкету, здаєш документи. Далі — стройовий інструктаж, ознайомлення з режимом служби, технікою безпеки, наказами та внутрішніми положеннями. Отримуєш обмундирування, засоби захисту та початкове спорядження. Знайомишся з командиром підрозділу, отримуєш первинні завдання. Залежно від призначення — проходиш підготовку.
            p.text--subtitle Перший місяць
            p Далі — бойове злагодження у складі відділення, взводу або екіпажу: тренування, стрільби, тактичні та технічні заняття. Особовий склад нових напрямів (FPV, НРК, БПЛА) проходить базове навчання під керівництвом інструкторів. Ти знайомишся з побутом, порядком взаємодії з тилом, медиками та командуванням. Формується твоя роль у підрозділі — відповідно до навичок і побажань.
            p.text--subtitle Перший рік
            p Ти стаєш повноцінною частиною бойового підрозділу. Виконуєш бойові завдання, береш участь в операціях. За потреби проходиш спеціалізовані курси — з розвідки, дронів, саперної справи, командування тощо. Набираєшся досвіду, формуєш репутацію, відкриваєш шлях до карʼєрного росту: від стрільця — до інструктора, командира відділення чи фахівця окремого напрямку. Якщо зарекомендуєш себе — будеш поміченим і відзначеним: зможеш претендувати на заохочення, підвищення, переведення в інші підрозділи чи формати служби.
        <svg class="block-line" xmlns="http://www.w3.org/2000/svg" width="734" height="6" viewBox="0 0 734 6" fill="none" preserveAspectRatio="none">
          <path opacity="0.3" d="M0.113249 3L3 5.88675L5.88675 3L3 0.113249L0.113249 3ZM733.887 3.00006L731 0.113312L728.113 3.00006L731 5.88682L733.887 3.00006ZM3 3L3 3.5L731 3.50006L731 3.00006L731 2.50006L3 2.5L3 3Z" fill="#BE9A68"/>
        </svg>
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__subtitle Як обрати свою спеціальність та потрапити у правильне місце              
          .academy-block__content
            p У 1 ОШП діє принцип: людина має бути на своєму місці. Тому при вступі до полку враховуються твої навички, досвід, фізичний і психологічний стан.
        .academy-subblock
          .swiper-direction(data-swiper="direction")  
            .swiper-wrapper 
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Анкета та співбесіда
                    p На першому етапі заповнюєш анкету: освіта, військовий досвід, цивільна спеціальність, інтереси. Після цього — коротка співбесіда з представником підрозділу. Головне — чесно зазначити, чого хочеш і на що здатен.
                .transition-elem 
                  p 
                    span 01
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Попередній розподіл
                    p Після співбесіди тобі пропонують кілька варіантів відповідно до реальних потреб підрозділів: штурм, дрони (FPV/НРК), інженерія, техніка, зв’язок, штабна робота, тил і логістика. Враховуються як твої побажання, так і оперативна ситуація.
                .transition-elem 
                  p 
                    span 02
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Перевірка на місці
                    p Після попереднього розподілу проходиш вступне навчання. Якщо під час підготовки виявиться, що обрана спеціальність не підходить — можлива заміна. Остаточне рішення ухвалює командир.
                .transition-elem 
                  p 
                    span 03
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Кар’єрне зростання / зміна напрямку
                    p Після кількох місяців служби, за результатами виконаних завдань, можеш подати запит на зміну спеціальності чи підрозділу. Це звична практика. В полку підтримується ротація, навчання та розвиток особового складу.     
                .transition-elem 
                  p 
                    span 04
      .academy-block(id="development")
        .academy-subblock
          .academy-block__title-wrap 
            h3.academy-block__title Як обрати свою спеціальність та потрапити у правильне місце
            p.academy-block__number #8
          .academy-block__content
            p Перший Окремий штурмовий полк — це підрозділ, який дає можливість 
              span.light-text зростати професійно 
              | незалежно від твого стартового рівня. Ми завжди підтримуємо ініціативу, навчання і готовність брати на себе більше.
            p Поруч із досвідченими побратимами ти зможеш швидко адаптуватися, освоїти нові навички та знайти своє місце в бойовій системі. У нашому підрозділі немає байдужості — тут кожен важливий і кожен має можливість стати сильнішим.
        .academy-subblock
          .swiper-direction(data-swiper="development") 
            .swiper-wrapper 
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Базова підготовка
                    p Кожен боєць проходить базовий курс за своїм напрямом: штурм, FPV, НРК, інженерія, зв’язок, тил, медицина тощо. Новачки здобувають необхідні знання та практику під керівництвом інструкторів. Навіть діловода навчають усім тонкощам документообігу.
                .transition-elem 
                  p 
                    span 01
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Поглиблене навчання
                    p Матимеш можливість пройти додаткові курси, щоб покращити свої знання та навички.
                .transition-elem 
                  p 
                    span 02
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Посадове зростання
                    p Є чітка вертикаль: стрілець → старший стрілець → командир відділення → командир взводу тощо. Так само — в технічних, дронових і тилових структурах. Кар’єра залежить не від «зв’язків», а від репутації, дисципліни та ефективності.
                .transition-elem 
                  p 
                    span 03
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Зміна посади чи напрямку
                    p Якщо проявляєш ініціативу, відповідальність і показуєш результат — можеш подати запит на переведення в інший напрям або підрозділ. Ми підтримуємо тих, хто прагне розвиватися й змінювати свій профіль.     
                .transition-elem 
                  p 
                    span 04
              .swiper-slide
                .text-frame--border
                  .text-frame
                    h4 Включення в інноваційні проєкти
                    p 1 ОШП — технологічний полк. Найкращі бійці залучаються до створення нових рішень: дронові прототипи, мобільні платформи, інженерні системи. Тут можна не просто «служити», а реально впливати на хід війни.     
                .transition-elem 
                  p 
                    span 05
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
